* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

#page {
    display: grid;
    width: 100%;
    height: 200px;
    grid-template: [header-left] "head head" 10vh [header-right] [main-left] "nav main" 1fr [main-right] [footer-left] "nav foot" 50px [footer-right] / 180px 1fr;
}

header {
    grid-area: head;
    border-bottom: 1px black solid;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 3%;
}

nav {
    grid-area: nav;
    height: 110vh;
    border-right: 1px black solid;
}

main {
    grid-area: main;
    height: 100vh;
    margin-left: 5%;
    margin-right: 5%;
}

footer {
    grid-column: foot;
    height: 10vh;
}

h2 {
    text-align: center;
    text-transform: bold;
}

